img {
  width: 150px;
  margin-left: 120px;
  border-radius: 15px;
}

h1 {
  color:azure;
  
}

h5 {
  font-size: 30px;
  color: #faf8f1;
  margin-left: 180px;
}
.release{
    color: aqua;
}

button{
    margin-left: 10px;
    margin-top: 180px;
}
