<div class="container mt-5">


    <div class="movie-background-image">
        <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.backdrop_path }}">
    </div>

    

    <div class="movie-banner">
        <div class="movie-banner-image">
            <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}">
    </div>

    </div>
        <div class="col-lg-10 mt-5">
            <h1 class="mt-2 mb-2">{{ getMovieDetailResult.original_title }}</h1>
            
        </div>
    

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#about">Hakkında</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#reviews">Yorumlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#cast">Oyuncu Kadrosu</a>
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <!-- İçerikler burada gösterilecek -->
                    <div id="about" class="tab-content">
                        <p class="mt-3 mb-3">{{ getMovieDetailResult.overview }}</p>
                    </div>
                    <div id="reviews" class="tab-content">
                        <!-- Yorumlar içeriği burada gösterilecek -->
                    </div>
                    <div id="cast" class="tab-content">
                        <!-- Oyuncu kadrosu içeriği burada gösterilecek -->
                    </div>
                </div>
            </div>
        </div>
</div>