.left button{
  border:none;
  background-color: transparent;
  color: #ffffff;
}

.movie-background-image img {
  width: 1050px;
  height: 530px;
  position: absolute;
  z-index: 1; /* Düşük bir z-index değeri */
}

.movie-banner-image img {
  width: 180px;
  height: 240px;
  border-radius: 16px;
  position: absolute;
  z-index: 2; /* Yüksek bir z-index değeri */
  top: 45%;
  left: 18%;
}

.title {
  position: absolute;
  top: 62%;
  left: 30%; /* Posterin sağında görünecek */
  width: 85%; /* Kalan genişlikte yayılacak */
  text-align: left; /* Metni sola hizala */
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Verilerin stilini özelleştirin */
.row {
  display: flex;
  justify-content: center;
}

.col {
  text-align: center;
  margin-top: 45%; /* İstediğiniz boşluğa göre ayarlayın */
  
}

/* İstenirse metin rengi, font boyutu vb. stil ayarları yapılabilir */
.col p {
  color: #7e7c7c; /* Örnek metin rengi */
  font-size: 16px; /* Örnek font boyutu */
}

.button-container {
  position: absolute;
  top: 5%;
  left: 85%;
  z-index: 2; /* Diğer elementlerin üzerinde görünmesini sağlar */
}

.star-btn {
  position: absolute;
  top: 55%;
  left: 72%;
  z-index: 2; /* Diğer elementlerin üzerinde görünmesini sağlar */
}

.star-btn i{
  color: orange;
}

/* Tab container */
.container p{
  margin-top: 15%;
  position: relative;
}

/* Tab navigation */


.nav-item {
  cursor: pointer;
}

.nav-item a {
  color: #ffffff; 
}

/* Tab content */
.tab-content {
  margin-top: 20px;
}

/* About Movie content */
.movie-tabs-content-overview {
  padding: 20px;
  border-radius: 5px;
}

.movie-tabs-content-overview-text {
  color: #ffffff; 
}

/* Reviews content */
.movie-tabs-content-reviews-box {
  display: flex;
  border: 1px solid #ddd; /* Gri kenarlık */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.movie-tabs-content-reviews-box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-tabs-content-reviews-box-left-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.movie-tabs-content-reviews-box-left-rate {
  font-size: 16px;
  color: #ffffff; /* Siyah renkli metin */
}

.movie-tabs-content-reviews-box-right {
  margin-left: 20px;
}

.movie-tabs-content-reviews-right-box-name {
  font-size: 18px;
  font-weight: bold;
  color: #fdfdfd; /* Siyah renkli metin */
}

.movie-tabs-content-reviews-right-box-comment {
  color: #ffffff; /* Siyah renkli metin */
}

.movie-tabs-content-cast-info {
  text-align: center;
  color: #ffffff;
}

.movie-tabs-content-cast-info-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.movie-tabs-content-cast-info-name {
  font-size: 16px;
  color: #ffffff;
}

.nav p{
  color: #ffffff;
  margin-left: 40%;
  margin-top: 4%;
}

.nav .left{
  margin-left:7%;
  margin-top: 4%;
  color: #ffffff;
  
}


h1{
  font-size: 18px;
}
@media(max-width: 768px) {
  .movie-background-image img{
    width: 390px;
    height: 216.938px;
    top: 109px;
    left: 0px;
  }
  .movie-banner-image img {
    width: 95px;
    height: 120px;
    left: 29px;
    top: 260px;
  }

  .title {
    margin-left: 5%;
    top: 340px;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
  }


  .col{
    margin-top: 80%;
  }

  .nav-item {
    margin-top: -px;
    display: flex;
    width: 92px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
  }

  .nav-item a{
    font-size: 14px;
  }

  .star-btn {
    top: 30%;
    left: 75%;
  }

  .star-btn i{
    font-size: 15px;
    background: rgba(37, 40, 54, 0.32);
    border-radius: 8px;    
    backdrop-filter: blur(10px);
    
  }

  .star-btn .btn{
    font-size: 15px;
  }

  .button-container{
    top: 6%;
    left: 80%;
    background-color: transparent;
  }

  .nav p{
    margin-left: 30%;
    margin-top: 15%;
    color: var(--text-dark-white-1, #ECECEC);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .nav .left{
    margin-left:7%;
    margin-top: 15%;
    color: #ffffff;
  }


  
  
}