<div class="position-relative">
  <div class="nav">
    <div (click)="goBack()" class="left">
      <button><i class="bi bi-chevron-left"></i></button>
    </div>
    <p>Search</p>
  </div>


  <div class="container mt-5">

    <div class="movie-background-image">
      <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.backdrop_path }}">
    </div>



    <div class="movie-banner">
      <div class="movie-banner-image">
        <img src="https://image.tmdb.org/t/p/original/{{ getMovieDetailResult.poster_path }}">
      </div>

    </div>

    <div class="title">
      <h1>{{ getMovieDetailResult.original_title }}</h1>

    </div>


    <div class="button-container">
      <button type="button" class="btn btn-dark" (click)="addToWatchList()">
        <i class="bi bi-bookmark-fill"></i>
      </button>
    </div>

    <div class="star-btn">
      <button type="button" class="btn btn-dark">
        <i class="bi bi-star"></i>
        {{ getMovieDetailResult.vote_average}}
      </button>
    </div>



    <div class="container mt-5">
      <!-- Diğer içerikler burada yer alır -->

      <div class="row mt-3">
        <div class="col">
          <p><i class="bi bi-calendar4"></i>&nbsp;{{ getMovieDetailResult.release_date.slice(0,4)
            }}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <i class="bi bi-clock"></i>&nbsp;{{ getMovieDetailResult.runtime}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-ticket-perforated" viewBox="0 0 16 16">
              <path
                d="M4 4.85v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Zm-7 1.8v.9h1v-.9H4Zm7 0v.9h1v-.9h-1Z" />
              <path
                d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13ZM1 4.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1.05a2.5 2.5 0 0 0 0 4.9v1.05a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-1.05a2.5 2.5 0 0 0 0-4.9V4.5Z" />
            </svg>&nbsp;{{ getMovieDetailResult.genres[0].name }}
          </p>
        </div>
      </div>
    </div>


    <div class="container mt-5">
      <ul class="nav nav-tabs">
        <li class="nav-item" (click)="tabChange('about-movie')" [class.active]="selectedTab === 'about-movie'">
          <a class="nav-link" style="  white-space: nowrap;">About Movie</a>
        </li> &nbsp;&nbsp;&nbsp;
        <li class="nav-item" (click)="tabChange('reviews')" [class.active]="selectedTab === 'reviews'">
          <a class="nav-link">Reviews</a>
        </li>
        <li class="nav-item" (click)="tabChange('cast')" [class.active]="selectedTab === 'cast'">
          <a class="nav-link">Cast</a>
        </li>
      </ul>

      <div class="tab-content mt-3">
        <div *ngIf="selectedTab === 'about-movie'">
          <!-- About Movie content -->
          <div class="movie-tabs-content-overview">
            <div class="movie-tabs-content-overview-text">
              {{ getMovieDetailResult.overview }}
            </div>
          </div>
        </div>

        <div *ngIf="selectedTab === 'reviews'">
          <!-- Reviews content -->
          <div *ngIf="reviewsData.results.length !== 0">
            <!-- Display reviews -->
            <div class="movie-tabs-content-reviews-box" *ngFor="let review of reviewsData.results">
              <div class="movie-tabs-content-reviews-box-left">
                <div class="movie-tabs-content-reviews-box-left-profile">
                  <img src="https://image.tmdb.org/t/p/original/{{ review.author_details.avatar_path }}"
                    alt="Profile Picture">
                </div>
                <div class="movie-tabs-content-reviews-box-left-rate">
                  {{ review.author_details.rating }}
                </div>
              </div>
              <div class="movie-tabs-content-reviews-box-right">
                <div class="movie-tabs-content-reviews-right-box-name">
                  {{ review.author }}
                </div>
              </div>
              <div class="movie-tabs-content-reviews-right-box-comment">
                {{ review.content }}
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="reviewsData.results.length === 0">
          <h2>No reviews yet.</h2>
        </div>
      </div>

      <div *ngIf="selectedTab === 'cast'">
        <!-- Cast content -->
        <div class="row">
          <!-- Display cast members -->
          <div class="movie-tabs-content-cast-info col-lg-3 col-md-4 mb-5"
            *ngFor="let castMember of getMovieDetailResult.credits.cast">
            <div class="movie-tabs-content-cast-info-profile">
              <img src="https://image.tmdb.org/t/p/original/{{castMember.profile_path }}"
                alt="{{ castMember.original_name }} Profile Picture">
            </div>
            <div class="movie-tabs-content-cast-info-name">
              {{ castMember.original_name }}
            </div>
          </div>
        </div>

      </div>



    </div>
  </div>
</div>