button{
    background-color:rgb(113, 121, 121);
    color: rgb(255, 255, 255);
}

button:hover{
    background-color:rgb(113, 121, 121);
    color: rgb(255, 255, 255);
}

form p{
    color: aliceblue;
}

img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

h5{
    color: aliceblue;
}

.average{
    color: rgb(241, 164, 47);
}

.date{
    color: aliceblue;
}