button{
    background-color:rgb(113, 121, 121);
    color: rgb(255, 255, 255);
    
}


button:hover{
    background-color:rgb(113, 121, 121);
    color: rgb(255, 255, 255);
}

form p{
    color: aliceblue;
    padding-left: 60px;
    font-size: 30px;
}


form{height: 50px;}

img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 60px;
}

h5{
    color: aliceblue;
    margin-left: 50px;
}

.average{
    color: rgb(241, 164, 47);
    margin-left: 50px;
}

.date{
    color: aliceblue;
    margin-left: 50px;
}

.not-found{
    font-size: 22px;
    font-style: bold;
    color: rgba(240, 248, 255, 0.913);
}

.not-found-under{
    font-size: 15px;
    font-style: thin;
    color: rgba(240, 248, 255, 0.598);

}

.not-search{
    border-radius: 100%;
}