body {
  background: #242a32;
}

#stickyNavbar {
  position: fixed;
  top: 0%;
  z-index: 1000; /* Diğer elementlerden üstte olması için bir z-index değeri */
}

.navbar {
  height: 10%; /* Navbar yüksekliği */
  background: #242a32;
  bottom: -3px;
}

p {
  color: #67686d;
}

.container {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: flex-start;
}

i {
  color: #67686d;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 5%;
  left: 7%;
  z-index: 1000;
}

.icon {
  display: flex;
  gap: 10px;
}

.icon i {
  font-size: 24px;
  color: #ffffff;
}

.time {
  font-size: 18px;
  color: #ffffff;
}

.d-flex {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .d-flex {
    white-space: nowrap;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .home {
    color: #67686d;
    margin-left: -150px;
  }

  .home p {
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .search {
    margin-left: 50px;
  }

  .search p {
    color: #67686d;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .watch-list {
    margin-left: 40px;
  }

  .watch-list p {
    color: #67686d;

    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  i {
    margin-left: 10px;
  }

  p {
    display: flex;
    padding-top: 6px;
    padding-left: 0px;
    justify-content: space-between;
    align-items: flex-start;
    color: #67686d;
  }
}
