<!-- navbar start -->
<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navgb">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""> <i class="bi bi-camera-reels-fill"></i> MOVIE APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""><i class="bi bi-house"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="search"><i class="bi bi-search"></i>Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="watchlist"><i class="bi bi-bookmark"></i>Watch List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end -->


<router-outlet></router-outlet>