<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

  <div class="icon-container">
    <div class="time">9:41</div>
    <div class="icon">
      <i class="bi bi-reception-4"></i>
      <i class="bi bi-wifi"></i>
      <i class="bi bi-battery-full"></i>
    </div>
  </div>

  <!-- Bootstrap Navbar -->
  <nav class="navbar  fixed-bottom">
    <div class="container">
      <div class="d-flex">
        <a class="nav-link home" aria-current="page" routerLink="">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <path
              d="M16.5245 22H14.7817H7.3487H5.6059C3.86855 22 2.46014 20.4607 2.46014 18.5618V9.84736C2.46683 9.09967 2.78828 8.39702 3.33154 7.94256L9.26578 2.6853C10.31 1.77157 11.7943 1.77157 12.8385 2.6853L18.7989 7.93303C19.3401 8.38935 19.661 9.09083 19.6703 9.83784V18.5618C19.6703 20.4607 18.2619 22 16.5245 22Z"
              stroke="#67686D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <p>Home</p>
        </a>
        <a class="nav-link search" routerLink="search">

          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <ellipse cx="10.7885" cy="11.7666" rx="8.14181" ry="8.98856" stroke="#67686D" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
            <path d="M16.4513 18.4851L19.6433 22" stroke="#67686D" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <p>Search</p>
        </a>
        <a class="nav-link watch-list" routerLink="watchlist">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M10.6963 18.6316L5.32373 21.881C4.89477 22.1271 4.3663 21.9529 4.12982 21.4874V21.4874C4.0614 21.3432 4.02449 21.1834 4.02203 21.0206V6.62244C4.02203 3.87644 5.7217 2.77805 8.16756 2.77805H13.9133C16.2845 2.77805 18.0588 3.80322 18.0588 6.43937V21.0206C18.0588 21.2804 17.9653 21.5295 17.7989 21.7132C17.6326 21.8968 17.4069 22 17.1716 22C17.0216 21.9974 16.874 21.9567 16.7405 21.881L11.3347 18.6316C11.1355 18.5128 10.8955 18.5128 10.6963 18.6316Z"
              stroke="#67686D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>&nbsp;

          <p>Watch list</p>
        </a>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>
</body>

</html>