.navbar .navbar-brand{
    color:aliceblue;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link{
    color: aliceblue;
}

.navbar-brand{
    margin-left: 105px;
}

.navbar-nav{
    margin-right: 55px;
}

