.tab {
  margin-right: 20px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.tab.active {
  font-weight: bold;
  border-bottom: 4px solid #3a3f47;
}
