
<!-- banner start -->
<app-search></app-search>

<!-- banner end -->

<!-- header -->
<div class="container mt-2 p-4">
  <div class="row mt-3 p-2">
      <div class="rowposter">
          <ng-container *ngFor="let t of trendingMovieResult.slice(0,10); let i = index">
              <div class="movie-card col-md-2 col-sm-4 col-6">
                  <span class="movie-number">{{ i + 1 }}</span>
                  <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',t.id]">
              </div>
          </ng-container>
      </div>
  </div>
</div>
<!-- header end -->

<div class="tab-container">
    <ul class="tabs">
      <li class="tab" (click)="selectCategory('nowPlaying')" [ngClass]="{ 'active': selectedCategory === 'nowPlaying' }">Now Playing</li>
      <li class="tab" (click)="selectCategory('upcoming')" [ngClass]="{ 'active': selectedCategory === 'upcoming' }">Upcoming</li>
      <li class="tab" (click)="selectCategory('topRated')" [ngClass]="{ 'active': selectedCategory === 'topRated' }">Top Rated</li>
      <li class="tab" (click)="selectCategory('popular')" [ngClass]="{ 'active': selectedCategory === 'popular' }">Popular</li>
    </ul>
</div>  

    <div class="tab-content">
      <div *ngIf="selectedCategory === 'nowPlaying'">
        <div class="movie-list row">
          <div class="col-md-3 mb-3" *ngFor="let n of nowPlayingMovies.slice(0,20);&nbsp;">
            <img src="https://image.tmdb.org/t/p/original/{{ n.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',n.id]"></div>
        </div>
      </div>
  
      <div *ngIf="selectedCategory === 'upcoming'">
        <div class="movie-list row">
          <div class="col-md-3 mb-3" *ngFor="let u of upcomingMovies.slice(0,20);">
            <img src="https://image.tmdb.org/t/p/original/{{ u.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',u.id]">          </div>
          </div>
        </div>
      
  
      <div *ngIf="selectedCategory === 'topRated'">
        <div class="movie-list row">
          <div class="col-md-3 mb-3" *ngFor="let t of topRatedMovies.slice(0,20);">
            <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',t.id]">          </div>
          </div>
        </div>
     
  
      <div *ngIf="selectedCategory === 'popular'">
        <div class="movie-list row">
          <div class="col-md-3 mb-3" *ngFor="let p of popularMovies.slice(0,20);">
            <img src="https://image.tmdb.org/t/p/original/{{ p.poster_path }}" class="rowimg largeposter" alt="..." [routerLink]="['/movie',p.id]">          </div>
          </div>
        </div>


        

     </div>
