<!-- banner start -->
<app-search></app-search>

<!-- banner end -->

<!-- header -->
<div class="container mt-2 p-4">
  <div class="row mt-3 p-2">
    <div class="rowposter">
      <ng-container *ngFor="let t of trendingMovieResult.slice(0,10); let i = index">
        <div class="movie-card col-md-2 col-sm-4 col-6">
          <span class="movie-number">{{ i + 1 }}</span>
          <img src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="..."
            [routerLink]="['/movie',t.id]">
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- header end -->


<app-tabs [tabs]="movieCategories" [selectedCategory]="selectedCategory"
  (categorySelected)="selectCategory($event)"></app-tabs>
<!-- kategori başlıkları, seçilen kategori ve seçilen kategorinin verileri çekilir -->


<div class="tab-content">
  <div class="movie-list row">
    <div class="col-md-3 mb-3" *ngFor="let movie of getMoviesByCategory(selectedCategory).slice(0, 20)">
      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="rowimg largeposter" alt="..."
        [routerLink]="['/movie', movie.id]">
    </div>
  </div>
</div>
<!-- seçilen kategorinin verileri listelenir, ilk 20 poster sıralanır -->